/* Estilos globales */
body p {
  font-size: 1.1em;
  line-height: 1.55714286em;
}

iframe {
  width: 100%;
  border: none;
  margin-bottom: 1em;
}

/* Encabezado de página */
.bar .logo {
  max-height: 5.85714286em;
  max-width: none;
}
@media screen and (max-width: 768px) {
  .bar .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar .logo {
    max-height: 3.85714286em;
    max-width: none;
  }
}
#menu2 .container-fluid {
  padding: 0 10%;
}
@media screen and (max-width: 992px) {
  #menu2 .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu2 .logo-light {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  #menu2 .social-list {
    display: none;
  }
}
#menu2 .social-list {
  margin-left: 50px;
}
#menu2 .social-list li {
  margin-right: 10px;
}
#menu2 .social-list a {
  color: #fff;
  padding-right: 10px;
  border-radius: 100px;
}
#menu2 .social-list a i {
  transform: translateY(2px);
}

/* Ajustes de estilo para los botones */
.main-container .btn--primary {
  font-size: 1.3em;
  padding-top: 0.646428571em;
  padding-bottom: 0.66428571em;
  padding-right: 1.78571429em;
  padding-left: 1.78571429em;
}
.main-container .btn--secundary {
  margin: 20px 0 0 0;
}
.main-container .btn__text {
  font-size: 20px;
}

/* Feature */
.feature {
  background-color: #fff;
  padding: 0 0 60px 0;
  margin-bottom: 60px;
}
.feature img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
  padding: 0 0;
  margin: 0 0;
}
.feature h4,
.feature p {
  padding: 1.3em 0px 0rem 0px;
  margin: 0 0;
}
